* {
  box-sizing: border-box;
}
body {
  background-color: #ECECEC; /* Фоновый цвет */
  padding: 52px;
  font-family: 'Inter', sans-serif;
}
.page-wrappper{
  overflow: hidden;
  max-width: 375px;
  margin: auto;
  border-radius: 20px;
  background: #ECECEC;
  box-shadow: 0px 0px 30px 0px rgba(154, 154, 154, 0.31);
}
.container {
  height: 95px;
  max-width: 300px;
  margin: auto;
}
.header {
  width: 375px;
  height: 237px;
  color: #ffffff;
  padding: 50px 6px 163px;
  border-radius: 0px 0px 108px 108px;
  background: linear-gradient(0deg, rgba(107, 107, 107, 0.32) 0%, rgba(107, 107, 107, 0.32) 100%), url("../img/header-bg.png") no-repeat center / cover;
}
.hello {
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1px;
}
.hello-text {
  margin-top: 6px;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.8px;
}
.do {
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
}
.user {
  width: 300px;
  height: 95px;
  margin-top: -40px;
  border-radius: 20px;
  background: #ECECEC;
  box-shadow: 0px 4px 30px 0px rgba(111, 111, 111, 0.05);
  padding-bottom: 27px;
}
.user-avatar {
  margin-top: 15px;
  margin-left: 12px;
  object-fit: cover;
  border-radius: 68px;
  border: 2px solid #000;
}
.user-name {
  margin-top: -55px;
  margin-left: 111px;
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
.user-discription {
  margin-left: 111px;
  margin-top: -10px;
  color: #727272;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}